{{#each this}}
<div class="photo-card">
    <img src="{{webformatURL}}" alt="{{tags}}" loading="lazy" class="image" />
    <div class="info">
      <p class="info-item">
        <b>Likes</b><span class="count">{{likes}}</span>
      </p>
      <p class="info-item">
        <b>Views</b><span class="count">{{views}}</span>
      </p>
      <p class="info-item">
        <b>Comments</b><span class="count">{{comments}}</span>
      </p>
      <p class="info-item">
        <b>Downloads</b><span class="count">{{downloads}}</span>
      </p>
    </div>
  </div>
{{/each}}


